:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

header h1 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 35px;
  padding: 10px;
  margin: 0px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#messages-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 66vh;
  overflow-y: auto;
}

#messages-container .message-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  height: 100px;
}

#messages-container .message-container img {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

#messages-container .message-container button {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font: inherit;
  margin: 0px;
  width: 100px;
  cursor: pointer;
}

#messages-container .message-container button:hover {
  background-color: grey;
}

#messages-container .message-container .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: 150px;
}

#messages-container .message-container .text-container h3 {
  margin: 0px;
  margin-top: 5px;
  text-decoration: underline;
}

#messages-container .message-container .text-container p {
  margin: 0px;
}

.message-form {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.message-form h2 {
  margin: 0px 0px 10px 8%;
}

.message-form #form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 8%;
  margin-right: 8%;
}

.message-form #form .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.message-form #form .user-info input,
.message-form #form .user-info button {
  flex: 1;
}

.message-form #form input {
  font: inherit;
  padding: 5px;
}

.message-form #form textarea {
  font: inherit;
  min-height: 50px;
  padding: 5px;
}

.message-form #form button {
  font: inherit;
  padding: 5px;
  cursor: pointer;
}

footer {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 15px;
  margin-top: 8px;
}

@media screen and (max-width: 850px) {
  .message-form #form .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 8px;
  }
}
